<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
	<head>
        {% load static %}
		<title>Emp Register</title>
		<link href="static/css/addempstyle.css" rel='stylesheet' type='text/css' />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		<!--webfonts-->
		<link href='http://fonts.googleapis.com/css?family=Lobster|Pacifico:400,700,300|Roboto:400,100,100italic,300,300italic,400italic,500italic,500'  rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Raleway:400,100,500,600,700,300' rel='stylesheet' type='text/css'>
		<!--webfonts-->
	</head>
    <body>
			<!--start-login-form-->
				<div class="main">
			    	<div class="login-head">
					    <h1>Add Employee</h1>
					</div>
					<div  class="wrap">
						  <div class="Regisration">

						  	<form method="post" action="register">
								{% csrf_token %}

						  		<input type="text" name="n1" value="Employee Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'First Name';}" >
						  		<input type="text"  name="n2"value="Department" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Department';}" >
						  		<input type="text" name="n3"value="Employee ID" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Employee ID';}" >
						  		<input type="text" name="n4" value="Contact No." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Contact No';}" >
								<input type="password"name="n5" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" >


								<div class="p-container">

								<div class ="clear"></div>
							</div>

								<div class="submit">
									<input type="submit" onclick="myFunction()" value="Save" >
								</div>

                            </form>
                      </div>
                </div>
                </div>
    </body>
</html>


