
<!DOCTYPE HTML>
<html>
<head>
<title>H.R page</title>
<link href="static/css/adminstyle.css" rel="stylesheet" type="text/css" media="all"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<meta name="keywords" content="Shaded Profile Widget Responsive, Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<link href="static/css/font-awesome.css" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Gudea:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
<h1>Leave Management System</h1>
<div class="profile">
	<div class="wrap">
		<div class="profile-main">
			<div class="profile-pic wthree">
				<img src="images/p1.png" alt="">
				<h2>Manage Leaves of your staffs </h2>
			</div>

			</div>
			<div class="w3ls-touch">
				<h5><u><b>Utilities</b></u></h5>
				<div class="social">
					<ul>
						<li><form method="post" action="./psd">{% csrf_token %}<a href="./psd"><i class="fa fa-facebook" aria-hidden="true"></i> <p>Change Passwordjn</p></a></form></li>


						<li> <form method="post" action="./add">
							{% csrf_token %}<a href="./add"><i class="fa fa-facebook" aria-hidden="true"></i> <p>Add Employee</p></a></form></li>
					</form>
						<li><form method="post" action="./rem"> {% csrf_token %}<a href="/rem"><i class="fa fa-twitter" aria-hidden="true"></i> <p>Remove Employee</p></a></form></li>
						<li><a href="leaveview"><i class="fa fa-linkedin" aria-hidden="true"></i> <p>Leave Applications</p></a></li>
						<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i> <p>Approved Leaves</p></a></li>
						<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i> <p>Rejected Leaves</p></a></li>
						<li><a href="edata"><i class="fa fa-linkedin" aria-hidden="true"></i> <p>View Employees</p></a></li
					</ul>
				</div>
			</div>
		</div>

	</div>
</div>
<!--profile end here-->

</body>
</html>